In [10]:
import tensorflow as tf
import pandas as pd
import re
from nltk.stem import PorterStemmer

from keras.preprocessing.text import Tokenizer

In [5]:
dataset = pd.read_csv("dataset.csv",index_col=0)

In [6]:
dataset.head()

,overview,Action,Adventure,Animation,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,History,Horror,Music,Mystery,Romance,Science Fiction,TV Movie,Thriller,War,Western
0,Taisto Kasurinen is a Finnish coal miner whose...,0,0,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,An episode in the life of Nikander,0,0,0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,It's Ted the Bellhop's first night on the job....,0,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Princess Leia is captured and held hostage by ...,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,Nemo,0,0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
def clean_text(text):
    # remove backslash-apostrophe 
    text = re.sub("\'", " ", text) 
    # remove everything except alphabets 
    text = re.sub("[^a-zA-Z]"," ",text) 
    # remove whitespaces 
    text = ' '.join(text.split()) 
    # convert text to lowercase 
    text = text.lower() 
    ps =PorterStemmer()
    words = text.split(" ")
    text = []
    for w in e_words:
        rootWord=ps.stem(w)
        print(rootWord)
    return text

In [18]:
clean_text("abc A'a ;")

'abc a a'

In [ ]:

e_words= ["wait", "waiting", "waited", "waits"]
ps =PorterStemmer()
for w in e_words:
    rootWord=ps.stem(w)
    print(rootWord)